certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
fade==0.0.9
geographiclib==2.0
geopy==2.4.1
h3==4.2.2
idna==3.10
numpy==2.2.4
prettytable==3.16.0
pycparser==2.22
pytz==2025.2
requests==2.32.3
timezonefinder==6.5.9
urllib3==2.3.0
wcwidth==0.2.13
